muledemo1/src/main/mule/demo2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="demo2Flow" doc:id="6be89b36-bce2-4c9d-bd84-7bcbcd96f06e" >
		<http:listener doc:name="Listener" doc:id="a8f08bd6-f681-4a3d-8721-9ef019e8e1c3" config-ref="HTTP_Listener_config1" path="/demo2Flow"/>
		<set-variable value="#['abcde']" doc:name="Set Variable" doc:id="689feaaf-f26d-451d-a393-2564c95327a1" variableName="var1"/>
		<validation:is-true doc:name="Is true" doc:id="9a184a3d-f78f-4b89-9086-400789271553" expression="#[['abcd','xyz'] contains vars.var1]" message="'Invalid Value'"/>
	</flow>
	<flow name="demo2Flow1" doc:id="5ca65ff2-1312-46f4-b992-b196607115b7" >
		<set-payload value='#[output application/xml&#10;var a = [{&#10;		"name":"sanket",&#10;		"age":29,&#10;		"salary":50&#10;		&#10;	},&#10;	{&#10;		"name":"rishabh",&#10;		"age":28,&#10;		"salary":150&#10;	},&#10;	{&#10;		"name":"raut",&#10;		"age":35,&#10;		"salary":100&#10;	}]&#10;fun getUpdatedsting(value:String) = "Welcome" ++" " ++ value&#10;&#10;fun checkstus(salary) = if (salary &gt; 50)  "rich" else "poor"&#10;&#10;&#10;---&#10;abc : {&#10;abcd: a map ((item, index) -&gt;&#10;	abcde @(status:  checkstus(item.salary)): item mapObject ((value, key, index) -&gt; &#10;	(key):value&#10;))&#10;}]' doc:name="Set Payload" doc:id="76cf6536-cc00-491c-96ff-05d7fe01d870" />
	</flow>
</mule>
